/* General Layout */
.hero {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.carousel_wrapper {
  position: relative;
  display: flex;
  height: 46vh;
  width: 92%;
  max-width: 100%;
  max-height: 370px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
  box-sizing: border-box;
}

.carousel_card {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
}

.carousel_card_active {
  opacity: 1;
  pointer-events: all;
}

.card_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel_pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.pagination_dot {
  height: 10px;
  width: 10px;
  background-color: #f5f5f590;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.pagination_dot:hover {
  transform: scale(1.2);
}

.pagination_dot_active {
  background-color: steelblue;
}

Hero Section
.hero ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.hero ul li {
  flex: 1 1 150px;
  max-width: 200px;
  text-align: center;
  list-style: none;
  margin-bottom: 1rem;
}

.hero ul li .icon-container {
  margin: 0 auto;
  padding: 1rem;
  border-radius: 50%;
  background-color: #26b5c6;
}

.hero ul li .icon-container svg {
  font-size: 2rem;
  color: white;
}

.hero ul li span {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #293649;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .carousel_wrapper {
    height: 15rem;
    width: 85%;
  }

  .hero ul li {
    flex: 1 1 180px;
    max-width: 180px;
  }
}

@media screen and (max-width: 900px) {
  .carousel_wrapper {
    height: 13rem;
    width: 90%;
  }

  .hero ul {
    gap: 1rem;
  }

  .hero ul li {
    flex: 1 1 150px;
    max-width: 150px;
  }
}

@media screen and (max-width: 700px) {
  .carousel_wrapper {
    height: 12rem;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .carousel_wrapper {
    margin-top: -2rem;
    border-radius: 10px 5px 10px 5px;
    height: 10rem;
    width: 90%;
  }

}
